<section class="about">
    <h2 class="about__title visually-hidden">About us</h2>
    <ul class="about__list">
        <li class="about__item">
            <p class="about__descr">15 years of experience</p>
        </li>
        <li class="about__item">
            <p class="about__descr">30 thousand happy residents</p>
        </li>
        <li class="about__item">
            <p class="about__descr">22 houses built</p>
        </li>
        <li class="about__item">
            <p class="about__descr">9 awards</p>
        </li>
    </ul>
    <h3 class="about__subtitle">Philosophy of our company</h3>
    <p class="about__descr">Residential complex “Nice view” is an island of tranquility, security and comfort.
        In our project, we created the opportunity to lead a measured life in the very center of the city.</p>
    </section>