<section class="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/gallery/img1-ds@1x,jpg 1x,
                ./images/gallery/img1-ds@2x,jpg 2x
              "
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/gallery/img1-ds@1x,jpg 1x,
                ./images/gallery/img1-ds@2x,jpg 2x
              "
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/gallery/img1-ds@1x,jpg 1x,
                ./images/gallery/img1-ds@2x,jpg 2x
              "
            />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
