<body>
  <header class="header">
    <div class="container">
      <a class="logo" href="">NV</a>
      <nav class="nav">
        <ul>
          <li class="nav__item">
            <a class="nav__link" href="">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#about-us">About</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#apartments">Apartments</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#infrastructure">Infrastructure</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#gallery">Gallery</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="header__button">Contact us</button>
    </div>
  </header>
</body>
