.header {
    // position: fixed;
  
    // position: fixed;
    // z-index: 100;
    // width: 100%;
    // margin-top: -80px;
    // @media screen and (min-width:768px) {
    //     margin-top: -100px;
    // }
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: #FCFCFB;
    background: linear-gradient(336.93deg, #2D2A22 5.7%, #7E6D53 108.98%); 
}

// @media screen and(min-width: 768px) {
//     .page__header {
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100%;
//         z-index: 2;
    
//     }



//     display: flex;
//     align-items: center;
//     justify-content: space-between;

    // min-height: 80px;
//     @media screen and (min-width:768px) {
//         min-height: 100px;
//     }


.header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    // z-index: 2;
}
.logo__tablet {
    display: none;
}
.nav__list,
.header__button {
    display: none;
}
.icon__logo {
    width: 36px;
    height: 28px;
    fill: #FCFCFB;
}
.logo {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

@media screen and (min-width:768px) {
    .header__container{
        min-height: 100px;
    }
    .nav__list {
        display: flex;
    }
    .nav__link {
        padding-top: 41px;
        padding-bottom: 40px;
    }
    .header__container {
        padding-top: 0;
        padding-bottom: 0;
    }
 
    .icon__logo {
        width: 56px;
        height: 56px;
        fill: #FCFCFB;
    }
    .logo__menu {
        display: none;
    }
    .logo__tablet {
        display: block;
    }
    .nav__item:not(:last-child) {
        margin-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .header__button {
        display: block;
        border-radius: 8px;
        padding: 4px 29px;
        min-width: 152px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: calc(24 / 16);
        background-color: transparent;
        border: 1px solid #FCFCFB;
        color: #FCFCFB;
        // &:hover,
        // &:focus {
        //     background-color: #188ce8;
        //   
        // }
    }
    .nav__list {
        margin-right: auto;
    } 
    .nav__item:not(:last-child) {
         margin-right: 48px;
     }
}
// :root {
//   scroll-behavior: smooth;
// } 
