.hero {
  max-width: 1280px;
  // min-height: 491px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/hero/img1-mob@1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/img1-mob@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/img1-tab@1x.jpg);
    height: 720px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/img1-tab@2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/hero/img1-ds@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/img1-ds@1x.jpg);
  }
}

.hero__container {
  min-height: 491px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 100px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 72px;
  line-height: calc(72 / 48);
  width: 100%;
  color: #7e6d53;

  @media screen and (min-width: 768px) {
    line-height: calc(108 / 72);
  }
}

.hero__subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: calc(24 / 16);
  margin-bottom: 246px;

  color: #7e6d53;
  text-align: center;

  @media screen and (min-width: 768px) {
    line-height: calc(36 / 24);
    margin-bottom: 383px;
  }
}

.hero__btn {
  font-weight: 300;
  font-size: 24px;
  line-height: calc(36 / 24);
  border: none;

  color: #2d2a22;

  width: 200px;
  height: 50px;

  // padding: 10px 45px;
  background-color: #fcfcfb;
  border-radius: 16px;

  @media screen and (min-width: 768px) {
    // padding: 9px 62px;
    width: 256px;
    height: 54px;
  }
}
