.menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: auto;
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.js-close-menu {
    opacity: 0;
    right: 10px;
    top: 30px;
}

.js-open-menu {
    right: 0;
    top: 18px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;

    min-width: 320px;
    width: 100%;
    
    height: 100vh;
    padding: 35px 35px;
    background-color: #FCFCFB;
    z-index: 10;
    background: linear-gradient(336.93deg, #2D2A22 5.7%, #7E6D53 108.98%);
    transform: translateX(-100%);
    transition: transform 300ms;

    animation-direction: reverse;

    &.is-open {
        transform: translateX(0);
    }

    &.menu-toggle {
        position: absolute;
        color: #ffffff;
    }
}
.menu__nav {
    margin-bottom: auto;
    margin-left: 0;
    text-align: center;
    margin-top: 45px;
    justify-content: flex-start;
    margin-bottom: auto;
}

.menu__link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: #FCFCFB;
}
.menu__nav--item:not(:last-child) {
    margin-bottom: 24px;
}
// hamburger animation
.hamburger {
    position: absolute;
    transform: translate(-50%, 50%);
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: #F5F5F5;

    border: 0;
    margin: 0;
    padding: 0;
    transition-property: opacity, filter;
    transition-duration: .15s;

    transition-timing-function: linear;
    z-index: 11;

    @media screen and (min-width: 768px) {
        display: none;

    }
}

@media screen and (min-width: 767px) {

    .menu-container,
    .action {
        display: none;

    }

}