.menu-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-left: auto;
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.burger,
.cross {
    transform: translateX(20%) translateY(20%);
}
.js-open-menu {
    top:28px;
    fill: #F5F5F5;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
            display: none;
        }
}
.js-open-menu {

    animation: burger 3000ms infinite 1000ms;
    // animation-iteration-count: 1;
    // animation-duration: 3000ms;
    // animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.js-close-menu {
    
    fill: #F5F5F5;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    padding: 0;
    animation-name: cross;
    animation: cross 3000ms infinite 1000ms;
        // animation-iteration-count: 1;
        // animation-duration: 1200ms;
        // animation-timing-function: ease;
    

    @media screen and (min-width: 768px) {
        display: none;
    }
}
// .js-close-menu:active {
//     animation-name: cross;
//     animation-iteration-count: 1;
//     animation-duration: 1200ms;
//     animation-timing-function: ease;


// }
// @keyframes cross {
//     0% {
//         right: 0;
//     }
//     100% {
//         left: 300px;
//     }
// }


@keyframes burger {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}
    
    
    
@keyframes cross {
    0% {
        transform: rotate(-450deg);
    }

    50% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

// 






// .icon-burger {
//     position: absolute;
//     align-items: center;
//     top: 4px;
//     right: 3px;
    
// }

// .js-close-menu {
//     opacity: 0;
//     right: 0px;
//     top: 30px;
// }

// .js-open-menu {
//     right: 8px;
//     top: 18px;
// }


.menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;

    max-width: 768px;
    width: 100%;
    
    height: 100vh;
    padding: 35px 35px;
    background-color: #FCFCFB;
    overflow: auto;
    // z-index: 1;
    background: linear-gradient(336.93deg, #2D2A22 5.7%, #7E6D53 108.98%);
    transform: translateX(-100%);
    transition: transform 1200ms;
    @media screen and (min-width: 768px) {
            display: none;
        }

    // animation-direction: reverse;

    &.is-open {
        transform: translateX(0);
    }

    &.menu-toggle {
        position: absolute;
        color: #ffffff;
    }
}
.menu__nav {
    margin-bottom: auto;
    margin-left: 0;
    text-align: center;
    margin-top: 45px;
    justify-content: flex-start;
    margin-bottom: auto;
}

.menu__link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: #FCFCFB;
    
}
.menu__nav--item:not(:last-child) {
    margin-bottom: 24px;
}
// hamburger animation
// .hamburger {
//     position: absolute;
//     transform: translate(-50%, 50%);
//     cursor: pointer;
//     font: inherit;
//     color: inherit;
//     text-transform: none;
//     background-color: #F5F5F5;
//     z-index: 4;

//     border: 0;
//     margin: 0;
//     padding: 0;
//     transition-property: opacity, filter;
//     transition-duration: .15s;

//     transition-timing-function: linear;
   

//     @media screen and (min-width: 768px) {
//         display: none;

//     }
// }

// @media screen and (min-width: 767px) {

//     .menu-container,
//     .action {
//         display: none;

//     }

// }